.list-user {
    .mat-row {
        min-height: 40px !important;
    }

    .text-over {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
}