<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>{{ 'AUTH.FORGOT.TITLE' | translate }}</h3>
		</div>

		<!-- <kt-auth-notice></kt-auth-notice> -->
		<kt-auth-alert *ngIf="hasErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
			{{messErr}}
		</kt-auth-alert>

		<kt-auth-alert *ngIf="hasSuccess" type="primary" [duration]="30000" [showCloseButton]="true" (close)="onAlertCloseSuccess($event)">
			{{messErr}}
		</kt-auth-alert>

		<form [formGroup]="forgotPasswordForm" autocomplete="off">
			<div class="form-group">
				<label>{{ 'AUTH.FORGOT.USERNAME_OR_EMAIL' | translate }} <span class="text-danger">*</span></label>
				<input type="email" class="form-control" formControlName="email" autocomplete="off" [ngClass]="{ 'is-invalid': isControlHasError('email','required') || isControlHasError('email','email') || isControlHasError('email','minlength') || isControlHasError('email','maxlength') }">
				<div *ngIf="isControlHasError('email','required')" class="invalid-feedback">
					{{ 'VALIDATION.REQUIRED_FIELD' | translate }}
				</div>
				<div *ngIf="isControlHasError('email','email')" class="invalid-feedback">
					{{ 'VALIDATION.INVALID_FIELD' | translate }}
				</div>
				<div *ngIf="isControlHasError('email','minlength')" class="invalid-feedback">
					{{ 'VALIDATION.MIN_LENGTH_FIELD' | translate }} 3
				</div>
				<div *ngIf="isControlHasError('email','maxlength')" class="invalid-feedback">
					{{ 'VALIDATION.MAX_LENGTH_FIELD' | translate }} 320
				</div>
			</div>
			<!--begin::Action-->
			<div class="kt-login__actions">
				<button (mousedown)="backLogin()" [disabled]="loading" id="kt_login_signup_cancel" class="btn btn-secondary btn-elevate kt-login__btn-secondary">{{ 'BUTTON.BACK' | translate }}</button>
				<button (click)="submit()" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'BUTTON.SUBMIT' | translate }}</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>

